:root {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-size: 62.5%;
  height: fit-content;
}

.App {
  width: 90%;
  margin : 2rem auto;
  text-align: center;
}

.listItem {
  padding : 1rem;
  display: block;
  background-color: #ede;

}

.listItem:first {
  border-radius: 3px 3px 0 0 ;
}


/* a:nth-child(even) {
  background-color: rgb(226, 199, 226);
} */

.SearchContainer {
  margin : 0.5rem;
  text-align: left;
}